html {
  background: linear-gradient(-225deg, #7085b6 0%, #87a7d9 50%, #def3f8 100%);
}

h1 {
  font-size: 75px;
  font-family: croist;
  font-weight: 100;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

h2 {
  display: block;
  text-align: center;
  font-family: Bahnschrift Light;
  margin: 0px 0px 20px 0px;
}

h3 {
  display: block;
  text-align: center;
  font-size: 30px;
}

h6 {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0px 20px;
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
}

p {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 20px;
  font-size: 15px;
  line-height: 150%;
}

hr {
  width: 70%;
  margin: 0 auto;
  height: 2px;
  background-color: #72728f;
  border-color: transparent;
  border-radius: 50px;
  opacity: 20%;
}

a {
  color: #ffffff;
  font-weight: 700;
}

a:hover {
  font-style: italic;
}

footer {
  text-align: center;
  font-family: Bahnschrift Light;
  margin: 30px 0px;
}

.richest {
  font-style: italic;
  text-decoration: underline;
}

.historyBox {
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  background-color: #272044;
  border-radius: 10px;
  color: #ffffff;
  width: 850px;
  padding: 20px;
  margin: 35px auto;
  font-family: "Bahnschrift Light";
  display: block;
}

.learnMore {
  display: block;
  margin: 20px auto;
  padding: 15px 20px;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  font-family: Bahnschrift Light;
  border: 1px solid #272044;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: #4c4c4d 2px 5px 5px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.body-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.learnMore:hover {
  background: #272044;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.galleryTitle {
  text-align: center;
  font-family: Bahnschrift Light;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: 70px;
  margin: 60px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 10px;
  position: center;
}

.photo-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.photo-grid .caption {
  position: relative;
  width: 100%;
  height: 100%;
}

.photo-grid .caption:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.photo-grid .caption h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 100;
  font-family: Bahnschrift Light;
  font-size: 15px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.photo-grid .caption:hover:before {
  opacity: 1;
}

.photo-grid .caption:hover h5 {
  opacity: 1;
}
